@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'HFCheers';
    src: url('/fonts/HFCheers.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

